body {
    background: radial-gradient(circle, hsla(0, 86%, 19%, 1) 0%, hsla(0, 0%, 13%, 1) 100%);
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: "New Amsterdam", sans-serif;
    font-size: 5rem;
}

h2 {
    text-align: center;
    padding-bottom: 2rem;
}

header {
    padding: 5rem;
    background: linear-gradient(135deg, hsla(0, 78%, 29%, 1) 13%, hsla(0, 100%, 43%, 1) 100%);
    margin-bottom: 5rem;
}

header img {
    max-width: 7vh;
    padding-left: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 5rem;
    padding: 5rem;
    justify-content: space-between;
    gap: 2rem;
    background: #fdfdfd;
    border-radius: 2rem;
    max-width: 70vh;
}

.row {
    display: flex;
    margin: auto;
    justify-content: space-between;
    gap: 2rem;
}

.error {
    font-weight: bold;
    color: #db0000
}

#ticketDisplay {
    text-align: center;
    color: #222222;
}

/*Stacking input fields above each other for smaller screens */
@media (max-width: 800px) {
    .row {
       flex-direction: column;
    }

}